.contents {
    max-width: 1300px;
    padding: 0 40px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.section-ttl {
    padding: 5px 10px;
    color: #fff; 
    background-color: #020e7e;
}

.contents .profile {
    width: 28%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.profile .icon-img-box {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile .user-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.contents .profile ul {
    margin-top: 20px;
    border-top: 1px solid #000;
}

.contents .profile ul li {
    list-style: none;
    margin-top: 20px;
    transition: all 0.2s;
    font-weight: bold;
    pointer-events: none;
}

.contents .profile ul li:hover{
    transform: scale(1.15);
}

.contents .profile ul li a{
    color: #000;
    pointer-events: auto;
}

.main-content {
    width: 65%;
}

.wrap {
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.link-btn {
    color: #fff;
    background-color: #020e7e;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    border-bottom: 5px solid rgb(150, 150, 150);
    transition: all 0.2s;
}

.link-btn:hover {
    margin-top: 3px;
    border-bottom: 2px solid rgb(150, 150, 150);
}

.link-btn.__delete {
    background-color: #ca0000;
}

#date, #time {
    border: 2px solid rgb(118, 118, 118);
}

.main-content select {
    -webkit-appearance: listbox;
    border: 2px solid rgb(118, 118, 118);
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    
}

.pagination li + li {
    margin-left: 10px;
}