.alert {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 15px;
    font-weight: bold;
    z-index: 100;
}

.setting {
    display: flex;
    margin-top: 20px;
    font-weight: bold;
}

.setting .pass {
    margin-left: 20px;
}

.setting a {
    color: #1B47FF;
}

.setting a:hover {
    color: #ff9101;
}

.wrap {
    background-color: rgb(245, 245, 245);
}

.item-name {
    margin-top: 20px;
}

.btn-pos {
    padding-top: 10px;
}

.input {
    width: 100%;
    max-width: 230px;
    padding: 5px 5px;
    border: 2px solid rgb(118, 118, 118);
    background-color: #fff;
}

.image {
    border: none !important;
    max-width: 100%;
}


/*sp用*/
.age-select {
    display: none;
}

.age-selectbox {
    border: 2px solid rgb(118, 118, 118);
    -webkit-appearance: listbox;
    width: 100%;
    max-width: 230px;
    background-color: #fff;
    padding: 5px 5px;
}

@media screen and (max-width: 1159px) {
    .age-radio {
        display: none;
    }
    
    .age-select {
        display: block;
    }
}