pre {
    font-family: "meiryo" !important;
    white-space: pre-wrap;
    word-break: break-all;
}

.place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.place-detail {
    max-width: 530px;
    padding: 0 5px;
}

.place-detail h3 a {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1B47FF;
}

.place-detail h3 a:hover {
    color: #ff9101;
}

.any-btn {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
}

.link-btn.__edit {
    margin-right: 10px;
}


/*sp用*/
@media screen and (max-width: 1159px) {
    .place {
        flex-direction: column;
    }
    
    .place-detail {
        width: 100%;
    }
    
    .place h3 {
        text-align: center;
    }
    
    .any-btn {
        margin-top: 10px;
    }
}