input, textarea {
    border: 2px solid rgb(118, 118, 118) !important;
}

.place {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.place-detail {
    max-width: 420px;
}

.place + .place {
    margin-top: 20px;
}

.any-btn {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
}