.section-ttl {
    margin-bottom: 20px;
}

.place {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.place-detail {
    max-width: 420px;
}

.place + .place {
    margin-top: 20px;
}

.any-btn {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
}

.link-btn.__edit {
    margin-right: 10px;
}
