a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header-bg {
    width: 100vw;
    padding: 1px 0 5px 0;
    background-color: #020e7e;
}

.top {
    max-width: 1300px;
    display: flex;
    padding: 0 20px;
    margin: 20px auto 20px;
    align-items: center;
    justify-content: space-between;
}

.login-logout {
    display: flex;
}

.site-logo {
    font-size: 1.5rem;
    display: inline-block;
    
}

.site-logo a {
    padding: 10px;
    background-color: #020e7e;
    color: #fff;
    text-decoration: underline;
}

.login-logout {
    margin-right: 8%;
}

.btn {
    font-weight: bold;
    font-size: 0.8rem;
    color: #fff;
    padding: 8px 12px;
} 

.login, .register, .logout {
    transition: all 0.3s;
}

.login:hover, .register:hover, .logout:hover {
    transform: scale(1.1);
}

.register {
    margin-left: 20px;
}

.header-nav {
    width: 900px;
    margin: 40px auto 0;
}

.header-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.header-list li + li {
    margin-left: 30px;
}

.header-list li {
    transition: all 0.3s;
}

.header-list li:hover {
    transform: scale(1.1);
}

.header-link {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(100, 100, 100);
    transition: 0.3s;
}

.header-link:hover {
    color: #000;
    text-shadow: 1px 1px 3px rgb(150, 150, 150);
}

.bar {
    font-size: 1rem;
}