.contents {
    max-width: 1300px;
    padding: 0 40px;
    margin: 50px auto;
}

.search-word {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.search-word span {
    font-size: 1.5rem;
}

.flex {
    display: flex;
}

.flex p + p {
    margin-left: 30px;
}

.create-btn-pos {
    margin-right: 50px;
}

.create-btn-pos .link-btn {
    display: block;
}

.search {
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

.search-box {
    max-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box div + div {
    margin-left: 30px;
}

.search .input {
    border: 2px solid rgb(118, 118, 118);
    padding: 0.4rem;
    box-sizing: border-box;
    background-color: #fff;
    max-width: 230px;
    width: 100%;
}


.search select.input {
    -webkit-appearance: listbox;
    border: 2px solid rgb(118, 118, 118);
}

.btn-position {
    text-align: center;
    margin-top: 20px;
}

.link-btn {
    padding: 8px 15px;
    border-bottom: 5px solid rgb(150, 150, 150);
    transition: all 0.2s;
    background-color: #020e7e;
    color: #fff;
}

.link-btn:hover {
    margin-top: 3px;
    border-bottom: 2px solid rgb(150, 150, 150);
}

.places {
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
}

.place {
    width: 47%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: inset 6px 6px 15px rgb(170, 170, 170);
    transition: box-shadow 0.1s 0.1s, transform 0.2s;
}

.place:hover {
    box-shadow: inset 0 0 0 rgb(255, 255, 255);
    transform: scale(1.1);
    transition: box-shadow 0.1s, transform 0.2s;
}

.place:nth-of-type(2n) {
    margin-left: 6%;
}

.place .card {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: box-shadow 0.1s;
    box-shadow: 0 0 0 rgb(255, 255, 255);
    color: #000;
}

.place .card:hover {
    box-shadow: 8px 8px 20px rgb(150, 150, 150);
    transition: box-shadow 0.1s 0.1s;
    color: #ff9101;
}

.paginate {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination li + li {
    margin-left: 10px;
}


/*sp用*/
.search-word.__sp, .search.__sp {
    display: none;
}

@media screen and (max-width: 1159px) {
    .contents {
        margin-top: 100px;
    }
    
    .search-word.__normal, .search.__normal {
        display: none;
    }
    
    .search-word.__sp, .search.__sp {
        display: block;
    }
    
    .search-box {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .search-box div {
        margin-bottom: 20px;
        width: 45%;
        text-align: center;
    }
    
    .search-box div + div {
        margin-left: 0;
    }
    
    .btn-position {
        margin-top: 0;
    }
    
    .places {
        flex-direction: column;
    }
    
    .place {
        width: 100%;
        box-shadow: 8px 8px 20px rgb(150, 150, 150);
    }
    
    .place:nth-of-type(2n) {
        margin-left: 0;
    }
}