pre {
    font-family: "meiryo" !important;
}

.back-btn {
    margin: 20px 0 0 20px;
}

.back-btn-link {
    height: 40px;
    text-decoration: none;
    background-color: #a1a1a1;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
}

#star {
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side {
    width: 45%;
}

.right-side {
    width: 45%;
    margin-left: 30px;
}

.place-img-box {
    margin: 0 auto;
    width: 100%;
    height: 430px;
    text-align: center;
}

.place-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data-ttl {
    margin-top: 20px;
}

.data-ttl:first-of-type {
    margin-top: 0;
}

.btn-pos {
    margin-top: 15px;
}

.showpage-btn {
    color: #fff;
    background-color: #020e7e;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 5px solid rgb(150, 150, 150);
    transition: all 0.2s;
}

.showpage-btn:hover {
    margin-top: 3px;
    border-bottom: 2px solid rgb(150, 150, 150);
}

.showpage-btn.want {
    margin-left: 80px;
}

.btn-list .btn-pos {
    display: flex;
    margin-left: 15px;
}

.showpage-btn.bbs {
    display: block;
}

.showpage-btn.cansel {
    margin-left: 20px;
    background-color: #ca0000;
}

.description {
    font-size: 0.8rem;
}

.bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

#map {
    width: 45%;
    height:450px;
}

.reviews {
    width: 45%;
    margin-left: 30px;
}

.review {
    font-size: 0.8rem;
    margin-top: 20px;
    width: 100%;
    overflow-wrap: break-word;
}

.review-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-img-box {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.icon-img-box img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.comment {
    margin: 5px 0;
}
