.contents {
    max-width: 800px;
    padding: 0 40px;
    margin: 30px auto;
}

.rank {
    font-size: 1.3rem;
}

.place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.left-side {
    width: 78%;
}

.right-side {
    display: flex;
    align-items: center;
}

.place-name {
    font-size: 1.25rem;
    color: #1B47FF;
}

.place-name:hover {
    color: #ff9101;
}

.border-btn {
    color: #fff;
    background-color: #020e7e;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 5px solid rgb(150, 150, 150);
    transition: all 0.2s;
}

.border-btn:hover {
    margin-top: 3px;
    border-bottom: 2px solid rgb(150, 150, 150);
}


/*sp用*/
@media screen and (max-width: 1159px) {
    .contents {
        margin-top: 90px;
    }
    
    .place {
        flex-direction: column;
    }
    
    .left-side {
        width: 100%;
    }
    
    .right-side {
        margin-top: 10px;
    }
}